
<div class="position-relative" style="padding-bottom: 5%;"> 
    <p style="font-size: 60px" class="text-center">Looking for a property?</p>
    <p style="font-size: 40px;" class="text-center">We got you</p>
</div>

<div class="position-relative async">
    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-dark rounded-5" style="font-size:2vw;">Choose your next home</button>
    <img src="./assets/landingPage.jpg" class="rounded-5 img-fluid" alt="...">
</div>

<div class="container">
    <hr>
    <h2>Our numbers speek for themselves:</h2>
    <stats-component>s</stats-component>
</div>

<div class="pt-3">
    <p class="text-center mt-3 mb-2">Properties</p>
    <h2 class="text-center">Latest & Featured Properties</h2>
    <app-houses-carousel></app-houses-carousel>
</div>

<div class="container">
    <h2 class="ps-4 pb-3">Advantages</h2>
    <app-advantages></app-advantages>
</div>

<div class="p-4 async">
    <img src="./assets/4.jpg" class="rounded-5 img-fluid" alt="...">
</div>

<div class="container pb-4">
        <app-contact></app-contact>
</div>
    



