<div class="position-relative" style="padding-bottom: 5%;"> 
    <p style="font-size: 60px" class="text-center">Looking for a property?</p>
    <p style="font-size: 40px;" class="text-center">We got you</p>
</div>

<div class="position-relative async">
    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-dark rounded-5 fs-3">Choose an apartment</button>
    <img src="./assets/landingPage.jpg" class="rounded-5 img-fluid" alt="...">
</div>

<div class="container">
    <hr>
    <h2>Our numbers speek for themselves:</h2>
    <stats-component></stats-component>
</div>
